style

/*The Imported Fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* The Main stuff. */

p {
  color: navy blue;
}
ul {
  list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #212F3C;
}
table{
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding: 2%;
  margin-left: 12px;
  
}

/* Divison Stuff */
.dropdown-content{
  font-family: 'Quicksand',sans-serif;
}
.dropdown{
font-family: 'Raleway',sans-serif;
}
.active {
  background-color: #4CAF50;
}
#title {
  color: black;
 font-family:'Raleway',sans-serif;
 border: 1.5px outset black;
 background: linear-gradient(90deg, rgba(218,241,58,1) 9%, rgba(63,238,113,1) 30%, rgba(32,235,255,1) 52%, rgba(253,187,45,1) 98%);
margin-left: 2px;
margin-right: 2px;
}
#high {
  font-family: 'Quicksand', sans-serif;
  border: 1.5px outset black;
margin-left: -5px;
margin-right: -5px;
}
#mid {
  font-family: 'Quicksand', sans-serif;
  border: 1.5px outset black;
  margin-left: -5px;
  margin-right: -5px;
}
#pre {
  font-family: 'Quicksand', sans-serif;
  border: 1.5px outset black;
  margin-left: -5px;
  margin-right: -5px;
}
#pri {
  font-family: 'Quicksand', sans-serif;
  border: 1.5px outset black;
  margin-left: -5px;
  margin-right: -5px;
}
/* Navbar */
li {
  display: inline;
float: left;
color: #DC7633;
border-right: 1px solid #bbb;
}
li a {
  display: block;
  color: #FFFF66;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
}
li a:hover {
  background-color: #111;
}
/* Links */
a:link {
  color: #238cd1 ;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

a:visited {
  color:#21618C;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:#348376;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:#F4D03F  ;
  background-color: transparent;
  text-decoration: underline;
}
/* Dropdown */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #212F3C;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #212F3C;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #212F3C;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.link a{
  color: #039BE5;
   background-color: transparent;
   text-decoration: none;
}
.link:visited{
  color:#833448;
  background-color: transparent;
  text-decoration: none;
}
.link:hover {
  color:#58D68D ;
  background-color: transparent;
  text-decoration: underline;
}
.link:active {
  color:#F4511E ;
  background-color: transparent;
  text-decoration: underline;
}
/* Icon Bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}
